<!DOCTYPE HTML>
<html lang="en" ng-app="tournamentApp">
<head>
    <title>Tattoo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://unpkg.com/cronstrue@latest/dist/cronstrue.min.js"></script>
    <script type="text/javascript" src="tattoo.js"></script>
    <!--<script type="text/javascript" src="angular.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">-->
</head>
<body ng-controller="TournamentController as tc">
<div class="container">
    <h1 class="text-center">Tattoo</h1>
    <div class="text-center">Tagpro Automatic TournamenT Online Organizer</div>
    <div>Contact:<a href="https://www.reddit.com/user/Roj-Tagpro/">Reddit</a> or <a href="https://github.com/nosslin579/tattoo">Github</a></div>
    <div>
        <button type="button" class="btn btn-secondary" ng-click="startTournament()">New tournament</button>
    </div>

    <div class="row">
        <div class="col-sm">
            <h3>Instructions</h3>

            <p>Tattoo is a fully automated TagPro tournament organizer. It will handle sign up, assign players to correct team and keep track om score. New tournament is started via configurable schedule. To know the score it uses http://tagpro.eu so make sure you have it installed. It can handle 8-12 sign ups, organized in a single group. If more then 8 players signed up there will be 3 - 5 qualification games. Points collected during these games will be carried over to the end games.</p>

            <p>To join a tournament, join the group and type `join`. It is not possible to join as Some Ball so make sure you are logged in and have a unique name. If you get disconnected just join the group again. Current result is announced after each game and can also be viewed below.</p>
        </div>
        <p>Tournament can be found at <a href="https://tagpro.koalabeast.com/groups">https://tagpro.koalabeast.com/groups</a></p>
        <div class="col-sm">
            <h3>Commands</h3>
            <ul class="list-group">
                <li class="list-group-item">join - Sign up</li>
                <li class="list-group-item">leave - Cancel sign up</li>
                <li class="list-group-item">spec - Spectate</li>
                <li class="list-group-item">poke - Status</li>
            </ul>
        </div>
    </div>
</div>
<hr/>
<h1 class="text-center">Schedule</h1>
<div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Server</th>
            <th scope="col">Caps</th>
            <th scope="col">Game length</th>
            <th scope="col">Number of games</th>
            <th scope="col">Sign up period</th>
            <th scope="col">Map</th>
            <th scope="col">Max players</th>
            <th scope="col">Variant</th>
            <th scope="col">Schedule</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in tc.scheduleList">
            <th scope="row">{{s.name}}</th>
            <td>{{s.serverId | tagProServer}}</td>
            <td>{{s.caps}}</td>
            <td>{{s.lengthOfMatch}}</td>
            <td>{{s.numberOfMatches}}</td>
            <td>{{s.signUpWaitTime}}</td>
            <td>{{s.map}}</td>
            <td>{{s.maxPlayers}}</td>
            <td>{{s.variant}}</td>
            <td>{{s.schedule | cronToHumanReadable}}</td>
        </tr>
        </tbody>
    </table>


    <hr/>
    <h1 class="text-center">Results</h1>

    <div>
        <div class="row" ng-repeat="t in tc.resultList">
            <div class="col">
                <h2>{{t.tournament.options.name}}</h2>

                <div>{{t.tournament.startTime | date:'medium'}}</div>
                <div>{{t.tournament.state}}</div>
            </div>
            <div class="col">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Games</th>
                        <th scope="col">Points</th>
                        <th scope="col">Caps</th>
                        <th scope="col">Conceded</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pr in t.participantResults">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{pr.participant.name}}</td>
                        <td>{{pr.matchesPlayed}}</td>
                        <td>{{pr.points}}</td>
                        <td>{{pr.capsScored}}</td>
                        <td>{{pr.capsConceded}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>